
#root {
	-fx-background-image: url("003.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-border-color: black;
}

#centerBox {
	-fx-border-width: 10 2 3 4;
	-fx-padding: 25px;
	-fx-spacing: 40px;
	-fx-background-color: rgba(0, 0, 0, 0.5);
}

#gameModeBox {
	-fx-padding: 0px;
	-fx-spacing: 5px;
}

#singleAndMultiplayerBox {
	-fx-spacing: 15px;
}

#highscoreListLbl {
	-fx-spacing: 0px;
	-fx-background-color: rgba(0, 0, 0, 6);
	-fx-border-color: black;
}

#highscoreBoxuuuuuuuuuuuuuuu {
	-fx-spacing: 2px;
	-fx-background-color: rgba(0, 0, 0, 6);
	-fx-border-color: white;
}
#gameModeAndHigscoreBox {
	-fx-spacing: 35px;
}

#startAndQuitBox {
	-fx-spacing: 10px;
}

#buttonBox {
	-fx-padding: 0px;
	-fx-spacing: 10px;
	-fx-background-color: transparent;
	-fx-hgap: 60px;
	-fx-vgap: 60px;
}

#mainMenuLbl {
	-fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.label {
	-fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#playerLbl {
	-fx-font-size: 10pt
}


.button {
	-fx-background-color: #a9a9a9;
	-fx-alignment: center;
	-fx-size: 2000;
	-fx-font-size: 15px;
    -fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding: 5 20 5 20;
}

.button:hover{
	-fx-background-color: #6699CC;
	-fx-text-fill: #000000;
}




