
#root {
	
	-fx-background-image: url("001.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-border-color: black;
}

#save {
	-fx-background-color: #a9a9a9;
	-fx-alignment: center;
	-fx-size: 2000;
	-fx-font-size: 15px;
    -fx-text-fill: white;
	-fx-font-weight: bold;
}

.button:hover{
	-fx-background-color: #d3d3d3;
	-fx-text-fill: #000000;
}

.TextField {
	
	
}
#createNewPlayer {
	-fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}

.label {
	-fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}











.vbox{
	-fx-padding: 10px;
	-fx-spacing: 10px;
	-fx-background-color: #f0f8ff;
	-fx-border-width: 20;
	-fx-border-radius: 50;
	-fx-border-color: black;
}

.hbox{
	-fx-spacing: 10px;
}

.gaps{
	-fx-hgap: 100px;
	-fx-vgap: 100px;
}