
#root {
	-fx-background-image: url("001.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-border-color: black;
}


#structureBox {
	-fx-background-color: rgba(0, 0, 0, 0.6);
	-fx-background-radius: 10;
}


#centerBox {
	-fx-border-width: 10 2 3 4;
	-fx-padding: 25px;
	-fx-spacing: 40px;
}

#typingBox {
	-fx-spacing: 240px;
}

#ipNamePasswordBox {
	-fx-padding: 0px;
	-fx-spacing: 10px;
}

#ipAndPortLblBox {
	-fx-spacing: 140px;
}


#ipAndConnectBox {
	-fx-spacing: 20px;
}

#nameBox {
	-fx-spacing: 0px;
}
#passwordBox {
	-fx-spacing: 0px;
}

#pwLoginBox {
	-fx-spacing: 20px;
}

#buttonBox {
	-fx-padding: 0px;
	-fx-spacing: 20px;
	-fx-background-color: transparent;
	-fx-hgap: 60px;
	-fx-vgap: 60px;
}

#logoLbl {
	
	}


#loginLbl {
	-fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.label {
	-fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Bookman Old Style";
}

     
     
#ipText {
	-fx-font-size: 10pt
}

#portText {
	-fx-font-size: 10pt
}


#nameText {
	-fx-font-size: 10pt
}

#passwordText {
	-fx-font-size: 10pt
}


.button {
	-fx-background-image: url("btn.png");
    -fx-background-size: stretch;
 
    -fx-background-color:transparent;
    -fx-font-size: 16px;
    -fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-padding: 6 18 6 18;
	-fx-font-family: "Bookman Old Style";
}

.button:hover{
	-fx-background-image: url("btn-2.png");
    -fx-text-fill: white;
}


.dialog-pane {
    -fx-background-color: black;
    -fx-border-color: black;
}

.dialog-pane .label {
    -fx-text-fill: white;
}
.dialog-pane:header .header-panel {
    -fx-background-color: black;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 20px;
}




