.button{
	-fx-background-color: darkgray;
	-fx-text-fill: white;
	-fx-font: 15px "Arial";
	-fx-spacing: 10px;
}

.buttonSend{
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(wheat 0%, oldlace 50%);
	-fx-text-fill: maroon;
	-fx-spacing: 10px;
}

.btnCommit{
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(forestgreen 0%, limegreen 50%);
	-fx-font: 15px "Arial";
	-fx-text-fill: white;
}

.btnGiveUp{
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(crimson 0%, red 50%);
	-fx-font: 15px "Arial";
	-fx-text-fill: white;
}

.button:hover{
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(silver 0%, white 50%);
	-fx-text-fill: black;
}

Label {
	-fx-text-fill: white;
    -fx-font: 15px "Arial Black";
}

.lblHeaders {
	-fx-font: 15px "Arial";
	-fx-text-fill: maroon;
	-fx-padding: 5px;
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(wheat 0%, oldlace 50%);
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

.lblCurrentPlayer {
	-fx-text-fill: maroon;
	-fx-font: 15px "Arial";
}

.lblPopupCurrentPhase {
	-fx-font: 50px "Herculanum";
	-fx-text-fill: white;
	-fx-padding: 20px;
	-fx-background-image: url("Images/signpost.png");
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

.vbox{
	-fx-padding: 10px;
	-fx-spacing: 10px;
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-width: 2;
	-fx-border-radius: 5;
	-fx-border-color: white;
}

.vboxCurrentPlayer{
	-fx-spacing: 5px;
}

.vboxCurrentPlayerButtons{
	-fx-spacing: 30px;
}

.cardGaps{
	-fx-hgap: 10px;
	-fx-vgap: 10px;
}

.hbox{
	-fx-spacing: 10px;
}

.rootFormat{
	-fx-hgap: 10px;
	-fx-vgap: 10px;
	-fx-background-image: url("Images/front1_fullres.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.scroll-pane > .viewport{
	-fx-background-color: transparent;
}

.hboxCurrentPlayer{
	-fx-spacing: 10px;
	-fx-padding: 5px;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(oldlace 0%, oldlace 50%);
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.gridpCurrentPlayer{
	-fx-hgap: 20px;
	-fx-padding: 5px;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(oldlace 0%, oldlace 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.giveUpAlert > *.label.content{
    -fx-text-fill: black;
    -fx-font: 15px "Arial";
}

.giveUpAlert:header *.header-panel *.label{
    -fx-text-fill: black;
}

.bpGameSuccess {
	-fx-background-image: url("Images/confetti.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, gold, 20, 0.5, 0, 0); 
}

.gridpGameSuccess{
	-fx-hgap: 80px;
	-fx-vgap: 20px;
	-fx-padding: 5px;
}

.lblCongratulations {
	-fx-font: 20px "Arial Black";
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.txtfChatArea {
	-fx-background-color: oldlace;
	-fx-text-fill: maroon;
}

.text-area {
    -fx-text-fill: maroon;
}

.scroll-pane {
 -fx-background-color: oldlace;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: oldlace;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: tan;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: tan;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: darkgoldenrod;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: darkgoldenrod;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color: tan;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color: tan;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-background-color: maroon;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: maroon;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: maroon;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: maroon;
}

.scroll-pane > .corner {
    -fx-background-color: oldlace;
}