.button{
	-fx-background-color: #a9a9a9;
	-fx-text-fill: white;
	-fx-font: 15px "Arial";
	-fx-spacing: 10px;
}
.btnCommit{
	-fx-background-color: limegreen;
	-fx-font: 15px "Arial";
	-fx-text-fill: white;
}

.btnGiveUp{
	-fx-background-color: red;
	-fx-font: 15px "Arial";
	-fx-text-fill: white;
}

.button:hover{
	-fx-background-color: white;
	-fx-text-fill: black;
}

Label {
	-fx-text-fill: white;
    -fx-font: 15px "Arial Black";
}

.lblHeaders {
	-fx-font: 15px "Arial";
	-fx-text-fill: black;
	-fx-padding: 5px;
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

.lblCurrentPlayer {
	-fx-text-fill: black;
	-fx-font: 15px "Arial";
}

.lblPopupCurrentPhase {
	-fx-font: 50px "Luminari";
	-fx-text-fill: white;
	-fx-padding: 20px;
	-fx-background-image: url("Images/signpost.png");
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

.vbox{
	-fx-padding: 10px;
	-fx-spacing: 10px;
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-width: 2;
	-fx-border-radius: 5;
	-fx-border-color: white;
}

.vboxCurrentPlayer{
	-fx-spacing: 5px;
}

.vboxCurrentPlayerButtons{
	-fx-spacing: 30px;
}

.cardGaps{
	-fx-hgap: 10px;
	-fx-vgap: 10px;
}

.hbox{
	-fx-spacing: 10px;
}

.rootFormat{
	-fx-hgap: 10px;
	-fx-vgap: 10px;
	-fx-background-image: url("Images/front1_fullres.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.scroll-pane > .viewport{
	-fx-background-color: transparent;
}

.hboxCurrentPlayer{
	-fx-spacing: 10px;
	-fx-padding: 5px;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.gridpCurrentPlayer{
	-fx-hgap: 20px;
	-fx-padding: 5px;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.giveUpAlert > *.label.content{
    -fx-text-fill: black;
    -fx-font: 15px "Arial";
}

.giveUpAlert:header *.header-panel *.label{
    -fx-text-fill: black;
}

.generalAlert > *.label.content{
    -fx-text-fill: black;
    -fx-font: 15px "Arial";
}

.generalAlert:header *.header-panel *.label{
    -fx-text-fill: black;
}