.button{
	-fx-background-color: #a9a9a9;
	-fx-text-fill: white;
	-fx-spacing: 10px;
}

.button:hover{
	-fx-background-color: #d3d3d3;
	-fx-text-fill: black;
}

Label {
	-fx-text-fill: white;
}

.lblCurrentPlayer {
	-fx-text-fill: black;
}

.vbox{
	-fx-padding: 10px;
	-fx-spacing: 10px;
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-width: 2;
	-fx-border-radius: 5;
	-fx-border-color: white;
}

.vboxCurrentPlayer{
	-fx-spacing: 10px;	
}

.gridpCurrentPlayer{
	-fx-hgap: 20px;
	-fx-background-color: oldlace;
}

.cardGaps{
	-fx-hgap: 10px;
	-fx-vgap: 10px;
}

.hbox{
	-fx-spacing: 10px;
}

.rootFormat{
	-fx-hgap: 10px;
	-fx-vgap: 10px;
	-fx-background-image: url("Images/front1.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.scroll-pane > .viewport{
	-fx-background-color: transparent;
}

.hboxCurrentPlayer{
	-fx-padding: 5px;
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}